@{
    ViewData["Title"] = "Souhlas se shromažďováním, správou a zpracováním osobních údajů";
}
<h1>
    <p>
        <strong>
            Souhlas se shromažďov&aacute;n&iacute;m, spr&aacute;vou a zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů
        </strong>
    </p>
</h1>
<p>
    <strong>
        &nbsp;
    </strong>
</p>
<p>
    (podle Nař&iacute;zen&iacute; Evropsk&eacute;ho parlamentu a Rady (EU) č. 2016/679 ze dne 27. dubna 2016, obecn&eacute;ho nař&iacute;zen&iacute; o ochraně osobn&iacute;ch &uacute;dajů).
</p>

<p>
    Spr&aacute;vce osobn&iacute;ch &uacute;dajů:
</p>
<p>
    Univerzita Palack&eacute;ho v Olomouci, se s&iacute;dlem Kř&iacute;žkovsk&eacute;ho 511/8, 771 47 Olomouc, IČ: 61989592 (d&aacute;le jen &bdquo;<strong>Spr&aacute;vce</strong>&rdquo;)
</p>
<p>
    Zastoupen&yacute;: Sm&iacute;&scaron;en&yacute;m komorn&iacute;m sborem Ateneo Univerzity Palack&eacute;ho v&nbsp;Olomouci (d&aacute;le jen &bdquo;<strong>Sbor</strong>&ldquo;).
</p>


<p>
    Jako člen Sboru d&aacute;v&aacute;m Spr&aacute;vci svůj souhlas se shromažďov&aacute;n&iacute;m, spr&aacute;vou a zpracov&aacute;v&aacute;n&iacute;m sv&yacute;ch osobn&iacute;ch &uacute;dajů (d&aacute;le jen &bdquo;<strong>Spr&aacute;va osobn&iacute;ch &uacute;dajů</strong>&ldquo; nebo jen &bdquo;<strong>Spr&aacute;va</strong>&ldquo;) způsobem a v&nbsp;rozsahu uveden&eacute;m v&nbsp;tomto souhlasu.
</p>
<ol>
    <h3>
        <li>
            <strong>
                &Uacute;čel Spr&aacute;vy osobn&iacute;ch &uacute;dajů
            </strong>
        </li>
    </h3>
    <ol>
        <li>
            Osobn&iacute; &uacute;daje jsou shromažďov&aacute;ny, spravov&aacute;ny a zpracov&aacute;v&aacute;ny za &uacute;čelem zaji&scaron;těn&iacute; fungov&aacute;n&iacute; Sboru v&nbsp;rozsahu nezbytn&eacute;m pro plněn&iacute; potřeb Sboru, včetně veden&iacute; z&aacute;znamů o jeho historii, jednotliv&yacute;ch akc&iacute;ch poř&aacute;dan&yacute;ch Sborem a jeho veřejn&eacute; prezentace.
        </li>
        <li>
            D&aacute;le je Spr&aacute;va prov&aacute;děna za &uacute;čelem zaji&scaron;těn&iacute; vnitřn&iacute;ho fungov&aacute;n&iacute; Sboru, tj. veden&iacute; kartot&eacute;ky členů sboru, veden&iacute; doch&aacute;zky členů sboru, organizaci koncertů, v&yacute;jezdů a jin&yacute;ch akc&iacute; Sboru a k&nbsp;umožněn&iacute; komunikace mezi veden&iacute;m Sboru a jeho jednotliv&yacute;mi členy a mezi členy Sboru navz&aacute;jem.
        </li>
        <li>
            Osobn&iacute; &uacute;daje jsou spravov&aacute;ny samostatně a odděleně od osobn&iacute;ch &uacute;dajů, kter&eacute; Spr&aacute;vce zpracov&aacute;v&aacute; u členů sboru jako jeho studentů nebo akademick&yacute;ch pracovn&iacute;ků na z&aacute;kladě sv&eacute; z&aacute;konn&eacute; povinnosti, jedn&aacute; se tedy o Spr&aacute;vu osobn&iacute;ch &uacute;dajů v&yacute;lučně na z&aacute;kladě souhlasu člena sboru.
        </li>
    </ol>
    <h3>
        <li>
            <strong>
                Osobn&iacute; &uacute;daje, kter&eacute; jsou předmětem Spr&aacute;vy
            </strong>
        </li>
    </h3>
    <p>
        Předmětem Spr&aacute;vy jsou &uacute;daje t&yacute;kaj&iacute;c&iacute; se člena sboru v&nbsp;členěn&iacute;:
    </p>
    <ol type="a">
        <li>Z&aacute;kladn&iacute; &uacute;daje člena</li>
        <ul>
            <li>
                jm&eacute;no a př&iacute;jmen&iacute;
            </li>
            <li>
                datum a m&iacute;sto narozen&iacute;
            </li>
            <li>
                telefonn&iacute; č&iacute;slo člena
            </li>
            <li>
                e-mail člena
            </li>
            <li>
                adresa pobytu člena
            </li>
            <li>
                hlasov&aacute; skupina, do kter&eacute; je člen zařazen
            </li>
            <li>
                portr&eacute;tn&iacute; fotografie
            </li>
        </ul>
        <li>
            Spr&aacute;vn&iacute; &uacute;daje člena
        </li>
        <ul>
            <li>
                č&iacute;slo osobn&iacute;ho průkazu člena (občansk&yacute; průkaz, průkaz cizince s&nbsp;povolen&iacute;m pobytu atp.)
            </li>
            <li>
                č&iacute;slo cestovn&iacute;ho pasu člena
            </li>
            <li>
                informace o zdravotn&iacute;m poji&scaron;těn&iacute; člena (zdravotn&iacute; poji&scaron;ťovna a č&iacute;slo poji&scaron;těnce)
            </li>
            <li>
                informace o zdravotn&iacute;m stavu (z hlediska zdravotn&iacute;ch omezen&iacute; atp.) člena.
            </li>
        </ul>
    </ol>
    <h3>
        <li>
            <strong>
                Doba platnosti souhlasu se Spr&aacute;vou osobn&iacute;ch &uacute;dajů
            </strong>
        </li>
    </h3>
    <ol type="a">
        <li>
            Souhlas se Spr&aacute;vou osobn&iacute;ch &uacute;dajů je &uacute;činn&yacute; dnem pod&aacute;n&iacute; ž&aacute;dosti o vstup (budouc&iacute;ho) člena do Sboru.
        </li>
        <li>
            V&nbsp;př&iacute;padě, že žadatel o členstv&iacute; ve Sboru nen&iacute; přijat, pokl&aacute;d&aacute; se souhlas se Spr&aacute;vou za zanikl&yacute; okamžikem, kdy je ř&iacute;zen&iacute; o přijet&iacute; za člena ukončeno.
        </li>
        <li>
            V&nbsp;př&iacute;padě přijat&iacute; za člena Sboru trv&aacute; souhlas se Spr&aacute;vou po celou dobu členstv&iacute; člena ve Sboru.
        </li>
        <li>
            Při z&aacute;niku členstv&iacute; člena ve Sboru zanik&aacute; souhlas se Spr&aacute;vou okamžikem z&aacute;niku členstv&iacute; ve Sboru.
        </li>
        <li>
            Zanikne-li souhlas se Spr&aacute;vou osobn&iacute;ch &uacute;dajů, je Spr&aacute;vce povinen zničit bez zbytečn&eacute;ho odkladu v&scaron;echny osobn&iacute; &uacute;daje evidovan&eacute; podle tohoto souhlasu s&nbsp;v&yacute;jimkou:
        </li>
        <ul>
            <li>
                jm&eacute;na, př&iacute;jmen&iacute;, data a m&iacute;sta narozen&iacute; a portr&eacute;tn&iacute; fotografie b&yacute;val&eacute;ho člena sboru, tyto &uacute;daje je Spr&aacute;vce opr&aacute;vněn spravovat po dobu neurčitou za &uacute;čelem shromažďov&aacute;n&iacute; informac&iacute; (např. kroniky) o činnosti sboru
            </li>
            <li>
                informac&iacute;, kter&eacute; Spr&aacute;vce potřebuje pro uplatněn&iacute; sv&yacute;ch z&aacute;konn&yacute;ch pr&aacute;v vůči b&yacute;val&eacute;mu členu Sboru, pokud mu v&nbsp;souvislosti s&nbsp;činnost&iacute; Sboru vznikly, a to v&nbsp;rozsahu nezbytn&eacute;m pro uplatněn&iacute; těchto pr&aacute;v a nejd&eacute;le po dobu, po kterou mohou b&yacute;t podle pr&aacute;vn&iacute;ch předpisů tato pr&aacute;va uplatňov&aacute;na,
            </li>
            <li>
                &uacute;dajů, k&nbsp;jejichž zpracov&aacute;v&aacute;n&iacute; a před&aacute;v&aacute;n&iacute; je, nebo bude, Spr&aacute;vci uložena povinnost pr&aacute;vn&iacute;m předpisem.
            </li>
        </ul>
        <li>
            Z&aacute;nik souhlasu se spr&aacute;vou nem&aacute; ž&aacute;dn&yacute; dopad na pr&aacute;va Spr&aacute;vce spravovat osobn&iacute; &uacute;daje na z&aacute;kladě z&aacute;konn&eacute;ho zmocněn&iacute; (ve vztahu ke studentům nebo zaměstnancům) nebo na z&aacute;kladě jin&eacute;ho souhlasu udělen&eacute;ho totožnou osobou za jin&yacute;m &uacute;čelem.
        </li>
    </ol>
    <h3>
        <li>
            <strong>
                Př&iacute;stup k&nbsp;osobn&iacute;m &uacute;dajům, zveřejňov&aacute;n&iacute; a před&aacute;v&aacute;n&iacute; osobn&iacute;ch &uacute;dajů ve Spr&aacute;vě
            </strong>
        </li>
    </h3>
    <ol type="a">
        <li>
            K&nbsp;osobn&iacute;m &uacute;dajům ve Spr&aacute;vě maj&iacute; na straně Spr&aacute;vce př&iacute;stup bez omezen&iacute; rozsahu prostřednictv&iacute;m poč&iacute;tačov&eacute;ho rozhran&iacute; s&nbsp;unik&aacute;tn&iacute;m př&iacute;stupem a registrac&iacute; př&iacute;stupu:
        </li>
        <ul>
            <li>sbormistr</li>
            <li>předseda Sboru</li>
            <li>m&iacute;stopředseda Sboru</li>
            <li>spr&aacute;vce informačn&iacute;ho syst&eacute;mu Spr&aacute;vce (webmaster)</li>
            <li>osoba pověřen&aacute;, jej&iacute;ž označen&iacute; bude ozn&aacute;meno dotčen&yacute;m osob&aacute;m prostřednictv&iacute;m poč&iacute;tačov&eacute;ho rozhran&iacute; s&nbsp;unik&aacute;tn&iacute;m př&iacute;stupem a registrac&iacute; př&iacute;stupu.</li>
        </ul>
        <li>
            K&nbsp;vybran&yacute;m osobn&iacute;m &uacute;dajům v&nbsp;rozsahu jm&eacute;no, př&iacute;jmen&iacute;, telefonn&iacute; č&iacute;slo, e-mail, zařazen&iacute; do hlasov&eacute; skupiny a portr&eacute;tn&iacute; fotografie maj&iacute; př&iacute;stup v&scaron;ichni členov&eacute; Sboru prostřednictv&iacute;m poč&iacute;tačov&eacute;ho rozhran&iacute; s&nbsp;unik&aacute;tn&iacute;m př&iacute;stupem a registrac&iacute; př&iacute;stupu.
        </li>
        <li>
            Člen sboru, jehož osobn&iacute; &uacute;daje jsou ve Spr&aacute;vě, m&aacute; př&iacute;stup ke v&scaron;em sv&yacute;m osobn&iacute;m &uacute;dajům ve Spr&aacute;vě prostřednictv&iacute;m poč&iacute;tačov&eacute;ho rozhran&iacute; s&nbsp;unik&aacute;tn&iacute;m př&iacute;stupem a registrac&iacute; př&iacute;stupu.
        </li>
        <li>
            Nečlen Sboru, jehož osobn&iacute; &uacute;daje jsou zpracov&aacute;v&aacute;ny m&aacute; pr&aacute;vo o př&iacute;stup a kontrolu sv&yacute;ch osobn&iacute;ch &uacute;dajů ve Spr&aacute;vě na z&aacute;kladě p&iacute;semn&eacute; ž&aacute;dosti (nebo elektronick&eacute; ž&aacute;dosti splňuj&iacute;c&iacute; podle pr&aacute;vn&iacute;ho předpisu n&aacute;ležitosti p&iacute;semn&eacute;ho pod&aacute;n&iacute;) adresovan&eacute; Spr&aacute;vci.
        </li>
        <li>
            Spr&aacute;vce je opr&aacute;vněn zveřejňovat vybran&eacute; osobn&iacute; &uacute;daje, a to jm&eacute;no, př&iacute;jmen&iacute;, hlasovou skupinu a portr&eacute;tn&iacute; fotografii člena sboru formou veřejně př&iacute;stupn&eacute; poč&iacute;tačov&eacute; nebo soci&aacute;ln&iacute; s&iacute;tě, tiskov&eacute; zpr&aacute;vy, report&aacute;že nebo jin&eacute;ho v&yacute;stupu poskytovan&eacute;ho nebo pořizovan&eacute;ho veřejn&yacute;mi sdělovac&iacute;mi prostředky, toto opr&aacute;vněn&iacute; se t&yacute;k&aacute; i pořizov&aacute;n&iacute; zvukov&yacute;ch a obrazov&yacute;ch z&aacute;znamů. Pr&aacute;vo člena na ochranu osobnosti nebo na jinou ochranu podle zvl&aacute;&scaron;tn&iacute;ch pr&aacute;vn&iacute;ch předpisů t&iacute;m nemůže b&yacute;t dotčeno.
        </li>
        <li>
            Spr&aacute;vce je opr&aacute;vněn před&aacute;vat osobn&iacute; &uacute;daje ve Spr&aacute;vě třet&iacute;m osob&aacute;m, jako jsou partnersk&eacute; sbory, cestovn&iacute; kancel&aacute;ře, zastupitelsk&eacute; &uacute;řady, dopravci, poji&scaron;ťovny a podobně, pro potřeby organizace vystoupen&iacute; a z&aacute;jezdů Sboru. Spr&aacute;vce je povinen před&aacute;vat v&nbsp;takov&eacute;m př&iacute;padě osobn&iacute; &uacute;daje ve Spr&aacute;vě pouze v&nbsp;rozsahu nezbytně nutn&eacute;m pro zaji&scaron;těn&iacute; &uacute;čelu před&aacute;n&iacute; a zajistit je (zejm&eacute;na smluvně) proti jejich zneužit&iacute; pro jin&eacute; než nezbytn&eacute; &uacute;čely.
        </li>
        <li>
            Spr&aacute;vce je opr&aacute;vněn před&aacute;vat vybran&eacute; osobn&iacute; &uacute;daje, tj. jm&eacute;no, př&iacute;jmen&iacute;, hlasovou skupinu, datum a m&iacute;sto narozen&iacute; třet&iacute;m osob&aacute;m za &uacute;čelem badatelsk&eacute; činnosti nebo podle pr&aacute;vn&iacute;ch předpisů o archivnictv&iacute;.
        </li>
        <li>
            Před&aacute;v&aacute;-li Spr&aacute;vce osobn&iacute; &uacute;daje ve Spr&aacute;vě, je povinen o každ&eacute;m před&aacute;n&iacute; v&eacute;st z&aacute;znam, a to buď ve formě z&aacute;znamů o př&iacute;stupu prostřednictv&iacute;m poč&iacute;tačov&eacute;ho rozhran&iacute; nebo p&iacute;semnou formou tak, aby bylo možn&eacute; identifikovat osobu přij&iacute;maj&iacute;c&iacute; informace, čas a rozsah předan&yacute;ch informac&iacute;.
        </li>
    </ol>
    <h3>
        <li>
            <strong>
                Odvol&aacute;n&iacute; souhlasu se Spr&aacute;vou osobn&iacute;ch &uacute;dajů
            </strong>
        </li>
    </h3>
    <ol type="a">
        <li>
            Člen Sboru může odvolat souhlas se Spr&aacute;vou osobn&iacute;ch &uacute;dajů pouze v&nbsp;souvislosti s&nbsp;ukončen&iacute;m členstv&iacute; ve Sboru.
        </li>
        <li>
            Člen sboru může kdykoliv odvolat souhlas se zveřejňov&aacute;n&iacute;m v&scaron;ech nebo někter&yacute;ch osobn&iacute;ch &uacute;dajů ve Spr&aacute;vě p&iacute;semnou ž&aacute;dost&iacute; adresovanou veden&iacute; Sboru, a to buď v&nbsp;pln&eacute;m, rozsahu (tj. i vůči členům Sboru), nebo pouze vůči třet&iacute;m osob&aacute;m. Spr&aacute;vce je povinen t&eacute;to ž&aacute;dosti vyhovět, je-li to technicky provediteln&eacute;. U nečlenů sboru se odvol&aacute;n&iacute; souhlasu se zveřejňov&aacute;n&iacute;m informac&iacute; použije přiměřeně.
        </li>
        <li>
            Nečlen Sboru může kdykoliv odvolat souhlas se Spr&aacute;vou osobn&iacute;ch &uacute;dajů p&iacute;semn&yacute;m pod&aacute;n&iacute;m, adresovan&yacute;m Spr&aacute;vci.
        </li>
    </ol>
    <h3>
        <li>
            <strong>
                Vysloven&iacute; souhlasu se Spr&aacute;vou osobn&iacute;ch &uacute;dajů
            </strong>
        </li>
    </h3>
    <ol type="a">
        <li>
            Souhlas se Spr&aacute;vou osobn&iacute;ch &uacute;dajů se pokl&aacute;d&aacute; za udělen&yacute; formou podpisu p&iacute;semn&eacute;ho prohl&aacute;&scaron;en&iacute;, kter&eacute; obsahuje text souhlasu a prohl&aacute;&scaron;en&iacute; o udělen&iacute; souhlasu. Takov&yacute; souhlas je &uacute;činn&yacute; okamžikem jeho podpisu.
        </li>
        <li>
            U členů Sboru, kteř&iacute; budou jeho členy k&nbsp;31. ř&iacute;jnu 2018, se souhlas se Spr&aacute;vou osobn&iacute;ch &uacute;dajů pokl&aacute;d&aacute; za &uacute;činn&yacute; dnem 25. května 2018 nebo dnem vzniku jejich členstv&iacute; ve Sboru, a to t&iacute;m z&nbsp;těch dn&iacute;, kter&yacute; nastal později.
        </li>
        <li>
            U členů Sboru, kteř&iacute; budou jeho členy k&nbsp;31. ř&iacute;jnu 2018, se souhlas se Spr&aacute;vou pokl&aacute;d&aacute; za podepsan&yacute; i okamžikem, kdy se tento člen prokazatelně přihl&aacute;s&iacute; prostřednictv&iacute;m poč&iacute;tačov&eacute;ho rozhran&iacute; k&nbsp;informačn&iacute;mu syst&eacute;mu Sboru a potvrd&iacute; na něm průkazn&yacute;m způsobem udělen&iacute; souhlasu a potvrd&iacute;, že se zněn&iacute;m souhlasu se Spr&aacute;vou se sezn&aacute;mil.
        </li>
    </ol>
