<div class="col-md-4">
    <div class="text-center homepage-menu-item-container">
        @if (User.Identity.IsAuthenticated && User.IsInRole(Roles.Singer))
        {
            <a class="homepage-menu-link" asp-area="" asp-controller="Singers">
                <i class="fas fa-users fa-8x"></i>
                <h2>Zpěváci</h2>
            </a>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole(Roles.Choirmaster))
        {
            <a class="homepage-menu-link" asp-area="" asp-controller="Singers" asp-action="Admin">
                <i class="fas fa-users fa-8x"></i>
                <h2>Zpěváci</h2>
            </a>
        }
        else
        {
            <i class="fas fa-users fa-8x"></i>
            <h2>Zpěváci</h2>
        }
    </div>
</div>