@model Trlifaj.Choirify.ViewModels.SongViewModels.SongDetailEditViewModel

@{
    ViewData["Title"] = "Úprava skladby";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Current" /> @Html.DisplayNameFor(model => model.Current)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" step="1"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SheetsAvailable" class="control-label"></label>
                <input asp-for="SheetsAvailable" class="form-control" />
                <span asp-validation-for="SheetsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SheetType"></label>
                @Html.DropDownListFor(model => model.SheetType, Model.SheetTypes, new { @class = "form-control" })
                <span asp-validation-for="SheetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Seznam skladeb</a>
            </div>
        </form>
    </div>
</div>