@model IEnumerable<Trlifaj.Choirify.ViewModels.SongViewModels.SongListViewModel>

@{
    ViewData["Title"] = "Skladby";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Html.RenderPartialAsync("/Views/Songs/Shared/_SingerSongListItemPartial.cshtml", item);
        }
    </tbody>
</table>
