@model IEnumerable<Trlifaj.Choirify.ViewModels.SongViewModels.SongListViewModel>

@{
    ViewData["Title"] = "Skladby";
}

<h2>@ViewData["Title"]</h2>
<p class="btn-group pull-right" role="group">
    <a asp-action="Index" asp-route-filter="current" class="btn btn-primary">Aktuální</a>
    <a asp-action="Index" asp-route-filter="all" class="btn btn-primary">Všechny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Current)
            </th>
            <th>
                Noty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            await Html.RenderPartialAsync("/Views/Songs/Shared/_SingerSongListItemPartial.cshtml", item);
        }
    </tbody>
</table>
