@model IEnumerable<Trlifaj.Choirify.ViewModels.EventViewModels.SingerEventListViewModel>

@{
    ViewData["Title"] = "Události";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            @ViewData["Title"]
            <span class="btn-group pull-right" role="group">
                <a asp-action="Index" asp-route-filter="upcoming" class="btn btn-primary">Nadcházející</a>
                <a asp-action="Index" asp-route-filter="all" class="btn btn-primary">Všechny</a>
            </span>
        </h2>
    </div>
</div>
<div class="hidden-md hidden-lg">
    <table class="col-xs-12 table table-striped table-hover">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @await Html.PartialAsync("/Views/Events/Shared/_SingerEventCard.cshtml", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<table class="table table-striped table-hover hidden-xs hidden-sm">
    <tbody>
        @foreach (var item in Model)
        {
            await Html.RenderPartialAsync("/Views/Events/Shared/_SingerEventListItemPartial.cshtml", item);
        }
    </tbody>
</table>
