@if (User.IsInRole(Roles.MusicDistributor) || User.IsInRole(Roles.Admin))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            Notář
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a asp-area="" asp-controller="Songs" asp-action="Admin">
                    Správa skladeb
                </a>
            </li>
        </ul>
    </li>
}