body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.admin-event-details dt{
    text-align: left;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

.registration-status-table{
    margin-top: 15px;
}
.admin-event-description-detail {
    min-height: 100px;
    max-width: 200px;
}

.admin-event-description-edit {
    min-height: 175px;
}

.admin-event-description-create {
    min-height: 175px;
}

.singer-event-description-detail {
    min-height: 175px;
    max-width: 400px;
}

.textarea-disabled-white[readonly] {
    background-color: #fff;
}
.table-custom {
    width: 100%;
}

.table-custom tbody tr td {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 15px;
    text-align: center;
}

div.navigation-page {
    margin-top: 30px
}

div.homepage-menu-item-container {
    margin-bottom: 20px;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    border-color: #337ab7;
}

    div.homepage-menu-item-container:hover {
        border-color: #23527c
    }

a.homepage-menu-link:hover {
    text-decoration: none;
}
a.navbar-left {
    color: #9d9d9d;
}

a.navbar-left img {
    max-height: 53px;
}

a.navbar-left:hover {
    color: #fff;
    text-decoration: none;
}

.singer-sheet-info {
    font-size: 1.2em;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.role-picker {
    min-height: 175px;
}

.sheet-status-info-table {
    margin-top: 10px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
