@using Trlifaj.Choirify.Views.Manage

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profil</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Heslo</a></li>
    <li class="@ManageNavPages.PrivacyPolicyNavClass(ViewContext)"><a asp-controller="Home" asp-action="Privacy">Podmínky pro správu osobních údajů</a></li>
</ul>

