@{
    ViewData["Title"] = "Přístup odepřen";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Nemáš potřebná přístupová práva. Pokud si myslíš, že bys je měl mít <a href="mailto:ateneo@upol.cz" class="btn btn-default">Kontaktuj sbor</a></p>
</header>
