@model RegisterViewModel
@{
    ViewData["Title"] = "Registrace úspěšná";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" disabled />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" disabled />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" disabled />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control" disabled />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" disabled />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfIDCard"></label>
            <input asp-for="NumberOfIDCard" class="form-control" disabled />
            <span asp-validation-for="NumberOfIDCard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Street"></label>
            <input asp-for="Street" class="form-control" disabled />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" disabled />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" class="form-control" disabled />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            @Html.DropDownListFor(model => model.Country, Model.Countries, new { @class = "form-control", disabled = true })
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VoiceGroup"></label>
            @Html.DropDownListFor(model => model.VoiceGroup, Model.VoiceGroups, new { @class = "form-control", disabled = true })
            <span asp-validation-for="VoiceGroup" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GdprApproved"></label>
            @if (Model.GdprApproved)
            {
                <span class="text-success">
                    <i class="fas fa-check fa-1x"></i>
                </span>
            }
            else
            {
                <span class="text-danger">
                    <i class="fas fa-times fa-1x"></i>
                </span>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="registrationModalLabel">
                    Účet vytvořen
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h3>
            </div>
            <div class="modal-body">
                <h5 class="text-info">Potvrď prosím svou registraci kliknutím na odkaz, který ti přišel na email.</h5>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Zavřít">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
