@model RegisterViewModel
@{
    ViewData["Title"] = "Registrace";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Vytvořit nový účet</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfIDCard"></label>
                <input asp-for="NumberOfIDCard" class="form-control" />
                <span asp-validation-for="NumberOfIDCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                @Html.DropDownListFor(model => model.Country, Model.Countries, new { @class = "form-control" })
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group" id="voiceGroupDropdown">
                <label asp-for="VoiceGroup"></label>
                @Html.DropDownListFor(model => model.VoiceGroup, Model.VoiceGroups, new { @class = "form-control" })
                <span asp-validation-for="VoiceGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GdprApproved"></label>
                <div class="material-switch pull-right">
                    <input asp-for="GdprApproved" type="checkbox" id="gdprdApprovedSwitch" />
                    <label class="label-success" for="gdprdApprovedSwitch"></label>
                </div>
                <a target="_blank" rel="noopener noreferrer" asp-area="" asp-controller="Home" asp-action="Privacy">
                    Přečti si zásady ochrany a zpracování osobních údajů
                </a>
                <span asp-validation-for="GdprApproved" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Registrovat</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
