@model IEnumerable<Trlifaj.Choirify.ViewModels.RehearsalViewModels.RehearsalListViewModel>

@{
    ViewData["Title"] = "Zkoušky";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Html.RenderPartialAsync("/Views/Rehearsals/Shared/_SingerRehearsalListItemPartial.cshtml", item);
        }
    </tbody>
</table>
