@model ErrorViewModel
@{
    ViewData["Title"] = "Chyba";
}

<h1 class="text-danger">Chyba.</h1>
<h2 class="text-danger">Během zpracování požadavku došlo k chybě</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}