@using Trlifaj.Choirify.Models.Enums
@model SingerSongListViewModel
@if (Model.SheetInfo == SheetInfoType.NoCopy || Model.SheetInfo == SheetInfoType.Ordered || Model.SheetInfo == null)
{
    <a asp-action="SingerHasSheets" asp-controller="SingerActions" asp-route-songId="@Model.Id" asp-route-singerId="@Model.SingerId" asp-route-filter="@ViewData["filter"]" class="btn btn-success">Mám noty</a>
    @*var modalId = "singer" + Model.SingerId + "song" + Model.Id + "hasmodal";
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#@modalId">Mám noty</button>*@
}